body {
    margin: 0px;
    background-color:black;
  }
  #box{
    position: absolute;
    font-size: 2vh;
    padding: 10px;
    text-align: center;
  }

button{
    border:5px double white;
    background-color: transparent;
    font-size: 30px;
    font-weight: bolder;
    color: white;
    box-shadow: 0 0 6px 2px white;
    cursor: pointer;
}